
  <br>
  <div class="search col-md-6" align="center">
    <mat-form-field>
      <input matInput placeholder="Search {{orgsName | titlecase}} Repositories" [(ngModel)]="searchText">
      <mat-icon matSuffix align="right">
        <i class="fa fa-search"></i>
      </mat-icon>
    </mat-form-field>

  </div>

  <div class="transparent-circle col-md-6" align="right">
    <p align="center">{{totalRepos}}</p>
    <h6 align="center">Repos</h6>
  </div>

  <div class="col-md-12">
      <div class="view-statistics col-md-11" align="right"> 
          Viewing {{per_page}} out of {{totalRepos}} Repositories   
        </div>  
    <div class="row">
      <mat-card class="example-card col-md-3" *ngFor="let repo of repoData | searchRepo : searchText; let i=index">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
              <img src="{{orgsData?.avatar_url}}"  width="auto" height="35" class="d-inline-block align-top" alt="">
          </div>
          <mat-card-title>{{repo.full_name}}</mat-card-title>
          <mat-card-subtitle>{{repo.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="ellipsis">
          <p *ngIf="repoData[i].description!=''">
            Description : {{repo.description}}
            <br>
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-stroked-button (click)="openBottomSheet(); view(i);">View</button>
          CloneURL &nbsp;
          <mat-icon>
            <i class="fa fa-clone" (click)="viewCloneUrl(i)"></i>
          </mat-icon>
        </mat-card-actions>
      </mat-card>  

    </div>
    <div class="view-more" align="center">
      <button  color='warn' mat-raised-button (click)="viewMoreRepositories()" *ngIf="totalRepos > per_page">More</button>
 
    </div>  

    <label class="user-exist-message col-md-12" *ngIf="(repoData | searchRepo : searchText).length ==0">
      <i class="fa fa-exclamation-circle"></i> Oops! We couldn't find any such Repository</label>
  </div>


