.navbar-light{
    font-family: 'Quicksand', sans-serif;
}
.navbar-dark{
    font-family: 'Quicksand', sans-serif;
    z-index: inherit;
}  
.navbar-light h6{
    color: black;
}


.navbar-dark .description{  
    margin-right: 10px; 
    color: white;
}    
.github-fork{
cursor: pointer;  
}  
.gittohub-profile-name{
margin-top: 15px;
}
.badge-info{
    margin-left: 5px;
    cursor: pointer;  
}