<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="supli-image" *ngIf="orgsImgUrl==''">
            {{ Org
            <i class="fa fa-image"></i> }}
            <label for=""><span class="badge badge-pill badge-info" (click)="home()">Home</span></label> 

        </div>

        <img src="{{orgsImgUrl}}" width="auto" height="35" class="d-inline-block align-top" alt="">
        <label align="center" style="color: #85144b; font-weight:bold;">GITTOHub</label>

    
    </nav>
    <div class="gittohub-profile-name">
        <h6 align="center" *ngIf="!orgsNotSelected"> {{orgsName | titlecase}} GITTOHub Profile
            <i class="fa fa-github"></i>
        </h6> 
    </div>

    <router-outlet></router-outlet>
    <br>
    <br>  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom navbar-right col-md-12">
        <span class="description">
            Made with Angular and GitHub Open APIs and yeah a bit of
            <i class="fa fa-heart"></i> - GITTOHub
        </span>
        <span class="badge badge-primary github-fork" (click)="fork()">Fork
            <i class="fa fa-github"></i>
        </span>

    </nav>
</div>