.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../assets/favicon.ico');  
    background-size: cover;
  }
  .clone_url{
      font-size: 15px;  
  }