
<div class="organization-search" align="center" *ngIf="!validResponse">  
  <label class="randomString">Please type Organization Name</label><br>
  <div class="orgs-type col-md-12">  
    <mat-form-field class="col-md-7">  
        <input type="text" autofocus   matInput name="Organization" placeholder="e.g. Google, Facebook" required [(ngModel)]="orgsName">
    </mat-form-field>
    <br>
    <div class="col-md-3">
      <button mat-raised-button type="submit"  (click)="search()" [disabled]="orgsName==''">Search</button>
  </div>
  </div>

  <label class="user-exist-message col-md-12" *ngIf="noOrgs">
      <i class="fa fa-exclamation-circle"></i> Oops! We couldn't find any such Organization</label>
      <br>
      <label for="">* Powered by GitHub <i class="fa fa-github"></i></label>
</div>
  

<div class="orgs-details" align="center" *ngIf="noOrgs==false">
    <mat-card class="example-card col-md-5" >
        <mat-card-header>  
          <div mat-card-avatar class="example-header-image">
              <img src="{{orgsImgUrl}}"  width="auto" height="35" class="d-inline-block align-top" alt="">
          </div>
          <mat-card-title>  <p align="center">{{orgsData?.name | uppercase}}</p></mat-card-title>
          <!-- <mat-card-subtitle>{{repository.name}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <p align="left">
           Blog :  {{orgsData?.blog}}<br>
           Created Date : {{orgsData?.created_at | date: medium}}<br>
           Public Repositories : {{orgsData?.public_repos}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color='primary'(click)="viewRepositories()">Repositories</button>
          <button mat-raised-button color='primary' (click)="viewUsers()">Users</button>
        </mat-card-actions>  
      </mat-card></div>


